/* default position (absolute) class */
.posDefault {
    position: absolute;
}

.noBorder {
    border: none;
}

.noInteract {
    user-select: none;
}

/* #region Stuffs Window */

/* #region stuffs foldout */
.Stuffs-Foldout {
    position: absolute;
    z-index: 5;
    background-color: rgba(10, 10, 10, 1);

    width: calc(100% - 10px);
    height: 60px;

    border: 2px solid rgb(30, 30, 30);
    border-radius: 1vh;

    left: calc(5px - 2px);
}
.Stuffs-Foldout_Title {
    position: absolute;
    z-index: 1;
    background-color: rgba(50, 80, 30, 0);
    width: calc(100% - 68px);
    height: 60px;

    font-size: 50px;

    top: calc(-50px);
    left: calc(5px);
}

.Stuffs-Foldout_ExpandButton {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;

    left: calc(100% - 63px);

    background-color: rgba(0, 0, 0, 0);
    
    border: none;
}

.Stuffs-Foldout_CollapseButton {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;

    left: calc(100% - 63px);

    background-color: rgba(0, 0, 0, 0);
    
    border: none;
}
.Stuffs-Foldout_ExColButtonImg {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;

    background-color: rgb(0, 0, 0, 0);

    top: 5px;
    left: 5px;
}

.Stuffs-FoldoutContent {
    position: absolute;
    z-index: 4;
    width: calc(100% - 10px);

    border: 2px solid rgb(20, 20, 20);
    border-radius: 1vh;

    left: calc(5px - 2px);
}

.Stuffs-ContentLinkBox {
    position: absolute;
    z-index: 1;
    width: calc(50% - 30px);
    height: 20vh;

    background-color: rgb(255, 0, 0);

    border-radius: 2vh;
}
/* #endregion */

/* #endregion */