body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(rgb(0, 34, 255), rgb(120, 198, 255))
}

#taskbar {
    width: 500px;
    height: 90px;

    /* could we make this a gradient of sorts? meh. i'll do it later. Do it before you push the changes to github. if not, then uhh.. */
    background: rgb(255, 255, 255);
    border-radius: 16px;

    top: calc(100%);
    left: calc(50% - (500px / 2));

    animation-name: taskbarAppear;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}
@keyframes taskbarAppear {
    0% {
        top: calc(100%);
    }
    100% {
        top: calc(100% - 90px - 24px);
    }
}

#aboutWindow {
    background-color: rgba(230, 230, 230, 0.36);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 400px;
}