.RP {
    position: absolute;
}

.NoSelect {
    -webkit-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
}
.NoDrag {
    user-select: none;
    -webkit-user-drag: none;
}

.GaretLight {
    font-family: "GaretLight";
}
.GaretHeavy {
    font-family: "GaretHeavy";
}

.GaretLightWShadow {
    font-family: "GaretLight";
    text-shadow: 1px 1px 3px black;
}