@font-face {
    font-family: 'GaretLight';
    src: url("/MixedResources/fonts/Garet-Book.ttf");
}
@font-face {
    font-family: 'GaretHeavy';
    src: url("/MixedResources/fonts/Garet-Heavy.ttf");
}