.windowLibWindow {
    position: absolute;
    z-index: 1;
}

/* <!!> Minimize Button setup <!!> */
/* on hover/unhover animation */
@keyframes MinimizeButtonOnHover {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(70, 170, 70, 1);
    }
}
@keyframes MinimizeButtonHoverOff {
    from {
        background-color: rgba(70, 170, 70, 1);
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}
/* Minimize Button class events and definition */
.MinimizeButton:hover {
    /* animation setup */
    animation-name: MinimizeButtonOnHover;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}
.MinimizeButton:not(:hover) {
    animation-name: MinimizeButtonHoverOff;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}
.MinimizeButton {
    /* button deecoration setup*/
    background-color: rgba(0, 0, 0, 0);
    border: none;

    /* button transform setup */
    position: absolute;
    z-index: 10;
    /* font setup */
    font-size: 4.2vh;
}

/* <!!> Restore/Maximize Button setup <!!> */
/* on hover/unhover animation */
@keyframes resMaxButtonOnHover {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(200, 200, 100, 1);
    }
}
@keyframes resMaxButtonHoverOff {
    from {
        background-color: rgba(200, 200, 100, 1);
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}
/* ResMax Button class events and definition */
.ResMaxButton:hover {
    /* animation setup */
    animation-name: resMaxButtonOnHover;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}
.ResMaxButton:not(:hover) {
    animation-name: resMaxButtonHoverOff;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}
.ResMaxButton {
    /* button deecoration setup*/
    background-color: rgba(0, 0, 0, 0);
    border: none;

    /* button transform setup */
    position: absolute;
    z-index: 10;
    /* font setup */
    font-size: 4.2vh;
}

/* <!!> close button setup <!!> */
/* on hover/unhover animation */
@keyframes closeButtonOnHover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(200, 30, 30, 1);
    }
}
/* on mouse off/not hovering */
@keyframes closeButtonHoverOff {
    from {
        background-color: rgba(200, 30, 30, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}
/* close button class events and class definition */
.CloseButton:hover {
    /* animation setup */
    animation-name: closeButtonOnHover;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}
.CloseButton:not(:hover) {
    animation-name: closeButtonHoverOff;
    animation-duration: 0.24s;
    animation-fill-mode: forwards;
}

.CloseButton {
    /* button deecoration setup*/
    background-color: rgba(0, 0, 0, 0);
    border: none;

    /* button transform setup */
    position: absolute;
    z-index: 10;
}